* {
  box-sizing: border-box;
}

.wrapper {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.eot");
  src: local("../Font/Gilroy/Gilroy Semibold"), local("Gilroy-Semibold"), url("../Font/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../Font/Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../Font/Gilroy/Gilroy-Semibold.woff") format("woff"), url("../Font/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("../Font/Gilroy/Gilroy Medium"), local("Gilroy-Medium"), url("../Font/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../Font/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../Font/Gilroy/Gilroy-Medium.woff") format("woff"), url("../Font/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("../Font/Gilroy/Gilroy Bold"), local("Gilroy-Bold"), url("../Font/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../Font/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../Font/Gilroy/Gilroy-Bold.woff") format("woff"), url("../Font/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: local("../Font/Montserrat/Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../Font/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../Font/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../Font/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../Font/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.eot");
  src: local("../Font/Roboto/Roboto Medium"), local("Roboto-Medium"), url("../Font/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../Font/Roboto/Roboto-Medium.woff2") format("woff2"), url("../Font/Roboto/Roboto-Medium.woff") format("woff"), url("../Font/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.main_page1 {
  background-color: #f9f9f9;
  padding-top: 75px;
  padding-bottom: 100px;
}
.main_page2 {
  background-color: #f9f9f9;
  padding-top: 75px;
  padding-bottom: 219px;
}
.main_page3 {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 169px;
}

.header {
  padding-top: 33px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.tel {
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: none;
  margin-right: 60px;
  position: relative;
  padding-left: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
}

.tel::before {
  content: "";
  background-image: url(../images/tel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.tel img {
  margin-right: 10px;
}

.header_info {
  display: flex;
  align-items: center;
}

.cart {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 15px;
  background-image: url(../images/basket.png);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.cart:hover {
  background-image: url(../images/basket_page/cart.png);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.user_info {
  display: flex;
}

.counter {
  position: absolute;
  top: -50%;
  right: -50%;
  display: flex;
  background-color: #06D10E;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.nav {
  display: flex;
}

.link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  margin-right: 40px;
  text-decoration: none;
}

.link_dropdown {
  position: relative;
  padding-right: 19px;
}

.catalog:hover .link_dropdown::after {
  content: "";
  background-image: url(../images/active_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7.5px;
}

.link_dropdown::after {
  content: "";
  background-image: url(../images/arrow_down.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7.5px;
}

.link:last-child {
  margin-right: 0;
}

.header_second_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 345px;
  height: 54px;
  background-color: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding-left: 20px;
  color: black;
  padding-right: 50px;
  background-image: url(../images/search.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right 23px center;
}

.search::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.breadcrumbs_page {
  margin-bottom: 30px;
}
.breadcrumbs_basket {
  margin-bottom: 10px;
}

.breadcrumbs_items {
  display: flex;
}

.breadcrumbs_item {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
  position: relative;
  text-decoration: none;
  margin-right: 35px;
}

.breadcrumbs_item:last-child {
  margin-right: 0px;
}

.breadcrumbs_item:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #BDBDBD;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.back_basket {
  margin-bottom: 30px;
}
.back_page {
  margin-bottom: 44px;
}

.back_link {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding-left: 22px;
  position: relative;
  text-decoration: none;
}

.back_link::before {
  content: "";
  background-image: url(../images/back_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.back_link:hover {
  color: #219653;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 46px;
  column-gap: 20px;
}

.card {
  width: 315px;
  background: #F9F9F9;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  position: relative;
}

.card_new_label {
  position: absolute;
  top: 12px;
  right: 12px;
  position: absolute;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  padding: 9px 16px;
}

.sale {
  position: absolute;
  top: 12px;
  right: 12px;
  position: absolute;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  background-color: #FFFFFF;
  border: 1px solid #3FCF5E;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 9px 16px;
}

.card_image_wrapper {
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
}

.card_image {
  display: block;
  width: 100%;
}

.card_title {
  margin-top: 0;
  margin-bottom: 5;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #333333;
}

.card_sub_title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #828282;
}

.card_price {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
}

.card_form {
  display: flex;
  align-items: center;
}

.card_packaging {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
}

.card_package {
  width: 68px;
  height: 29px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card_package_activ {
    background-color: #FFFFFF;
    border: solid 1px #3ECF5E;
    border-radius: 5px;
} */
.card_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_link {
  padding: 12px 32px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
  text-decoration: none;
  margin-right: 68px;
}

.card_add_cart {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  background-image: url(../images/basket.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card_packaging input {
  display: none;
}

.card_packaging input:checked + .card_package {
  background-color: #FFFFFF;
  border: solid 1px #3ECF5E;
  border-radius: 5px;
}

.h3_top {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

.rio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 46px;
  column-gap: 20px;
}

.rio_mix {
  display: flex;
  flex-wrap: wrap;
  row-gap: 46px;
  column-gap: 20px;
}

.buy_with {
  padding-top: 100px;
}

.catalog {
  position: relative;
  display: inline-block;
}

.drop_catalog {
  display: none;
  min-width: 284px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.catalog_space_box {
  position: absolute;
  z-index: 1;
  padding-top: 24px;
}

.catalog:hover .drop_catalog {
  display: block;
}

.catalog_link {
  margin-bottom: 30px;
  text-decoration: none;
  display: block;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}

.catalog_link:last-child {
  margin-bottom: 0px;
}

.catalog_menu {
  padding: 21px 52px 34px 25px;
}

.footer {
  background-color: #333333;
}

.social_info {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 466px;
  margin-left: 432px;
}

.contact {
  display: flex;
  justify-content: center;
}

.payment_info {
  display: flex;
  justify-content: center;
}

.payment {
  margin-right: 47px;
  text-decoration: none;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.payment:last-child {
  margin-right: 0px;
}

.twit {
  margin-right: 20px;
}

.tel_footer {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-left: 31px;
  position: relative;
  text-decoration: none;
}

.tel_footer::before {
  content: "";
  background-image: url(../images/footer_tel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.bird_info {
  display: flex;
}

.bird_text {
  margin-left: 40px;
  width: 610px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #4F4F4F;
}

.bird_text h1 {
  margin: 0 0 40px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #333333;
}

.bird_img {
  border-radius: 10px;
}

.corn_info {
  padding-top: 50px;
  padding-bottom: 100px;
}

.corn_boards {
  display: flex;
  justify-content: center;
}

.h3 {
  padding: 0 0 28px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.h3 h3 {
  margin: 0px;
}

.corn_type {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  position: relative;
}

.feed_type {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  position: relative;
}

.corn_types:last-child {
  margin-right: 0;
}

.corn_types {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 650px;
  margin-right: 20px;
}

.corn_text {
  text-align: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
  margin-top: 10px;
  margin-bottom: 0px;
}

.corn_text2 {
  margin-top: 0;
}

.corn_content {
  padding: 20px 36px 47px 30px;
}

.corn_arrow:last-child::after {
  content: "";
  background-image: url(../images/bird.page/left_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.corn_arrow:last-child::before {
  content: "";
  background-image: url(../images/bird.page/right_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
}

.feed_arrow:last-child::after {
  content: "";
  background-image: url(../images/bird.page/left_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 43%;
  margin-top: -9px;
}

.feed_arrow:last-child::before {
  content: "";
  background-image: url(../images/bird.page/right_arrow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 43%;
  margin-top: -9px;
}

.corn_type:first-child {
  padding: 50px;
}

.catalog {
  position: relative;
  display: inline-block;
}

.drop_catalog {
  display: none;
  min-width: 284px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.catalog_space_box {
  position: absolute;
  z-index: 1;
  padding-top: 24px;
}

.catalog:hover .drop_catalog {
  display: block;
}

.catalog_link {
  margin-bottom: 30px;
  text-decoration: none;
  display: block;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}

.catalog_link:last-child {
  margin-bottom: 0px;
}

.catalog_menu {
  padding: 21px 52px 34px 25px;
}

.user {
  position: relative;
  display: inline-block;
}

.user_icon {
  background-image: url(../images/user.png);
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.user_icon:hover {
  background-image: url(../images/active_user.png);
}

.drop_content {
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  left: -254px;
  top: 60px;
}

.drop_content_space_box {
  position: absolute;
  left: -254px;
  padding-top: 34px;
}

.drop_content a {
  display: block;
}

.drop_menu {
  padding: 25px 20px 35px 20px;
}

.drop_link1 {
  background-color: #3FCF5E;
  border-radius: 10px;
  padding: 15px 61px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 15px;
}

.drop_link2 {
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 15px 42px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.user:hover .drop_content {
  display: block;
}

.page_number {
  padding-top: 50px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  padding-right: 20px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  position: relative;
}

.page:hover {
  color: #219653;
}

.page:last-child {
  padding-right: 41px;
}

.page:first-child {
  padding-left: 41px;
}

.page:last-child::after {
  content: "";
  background-image: url(../images/arrow_page_right.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
}

.page:first-child::before {
  content: "";
  background-image: url(../images/arrow_page_left.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -8px;
}

.active_page {
  color: #219653;
}

.basket_list_top {
  width: 1320px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 10px 10px 0 0;
}

.basket_list_mid {
  width: 1320px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
}

.basket_list_green {
  width: 1320px;
  background-color: #3FCF5E;
}

.basket_list_end {
  width: 1320px;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 0 0 10px 10px;
}

.basket_card {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed_info {
  display: flex;
}

.price {
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
  margin: 0px;
}

.cost_for_one {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
  margin: 0 8px 0 0;
}

.price_number {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin: 0;
}

.name_h1 {
  margin-top: 0;
  margin-bottom: 9px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.code {
  margin-top: 0px;
  margin-bottom: 52px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
}

.name_code {
  margin-left: 15px;
}

.amount_text {
  text-align: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #BDBDBD;
  margin: 0;
}

.plus_minus {
  display: flex;
  justify-content: center;
  padding: 10px 0 30px 0;
}

.plus {
  content: "";
  background-image: url(../images/basket_page/plus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
}

.minus {
  content: "";
  background-image: url(../images/basket_page/minus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 0;
}

.plus[value="1"] {
  color: transparent;
}

.minus[value="1"] {
  color: transparent;
}

.plus_minus p {
  margin: 0 20px 0 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #4F4F4F;
}

.total {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
  margin: 0 8px 0 0;
}

.fund {
  padding: 40px 693px 50px 172px;
}

.fund_text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 33px;
}

.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount_input {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  width: 234px;
}

.donation_button {
  background: #FFFFFF;
  border-radius: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 15px 40px 15px 40px;
  border: 0px;
}

.pay {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 50px 25px 60px;
}

.pay_btn {
  background-color: #3FCF5E;
  border-radius: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 66px 16px 66px;
  border: 0px;
}

/*# sourceMappingURL=style.css.map */
