@mixin width($width) {
    width: $width;
}

@mixin wight_block {
    background-color: #FFFFFF;
    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.basket {
    font-family: 'Gilroy';
    font-style: normal;
}

.basket_list:first-child {
    border-radius: 10px 10px 0 0;
}

.basket_list:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #F2F2F2;
    border-top: 0
}

.basket_list {
    @include wight_block;
}

.basket_list_green {
    background-color: #3FCF5E;
    padding: 40px 172px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.basket_card {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed_info {
    display: flex;
}

.price {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
    margin: 0px;
}

.cost_for_one {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
    margin: 0 8px 0 0 ;
}

.price_number {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin: 0;
}

.name_h1 {
    margin-top: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.code {
    margin-top: 0px;
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
}

.name_code {
    margin-left: 15px;
}

.amount_text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #BDBDBD;
    margin: 0;
}

.plus_minus {
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0;
}

.plus {
    border: 1px solid #00C620;
    border-radius: 5px;
    background-image: url(../images/basket_page/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 15px;
    background-color: #FFFFFF;
}

.minus {
    border: 1px solid #00C620;
    border-radius: 5px;
    background-image: url(../images/basket_page/minus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 15px;
    background-color: #FFFFFF;
}

.plus_minus p {
    margin: 0 20px 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #4F4F4F;
}

.total {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #828282;
    margin: 0 8px 0 0;
}

.fund {

    width: 456px;
}

.fund_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 33px;
}

.donation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount_input {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    width: 234px;
}

.donation_button {
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding: 15px 40px 15px 40px;
    border: 0px;
}

.pay {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 50px 25px 60px;
}

.pay_btn {
    background-color: #3FCF5E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 66px 16px 66px;
    border: 0px;
}
 



