.card_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 46px;
    column-gap: 20px;
}

.card {
    width: 315px;
    background: #F9F9F9;
    border: 1px solid #F2F2F2;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    position: relative;
}

.card_new_label {
    position: absolute;
    top: 12px;
    right: 12px;
    position: absolute;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 10px;
    padding: 9px 16px;
}

.sale {
    position: absolute;
    top: 12px;
    right: 12px;
    position: absolute;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    background-color: #FFFFFF;
    border: 1px solid #3FCF5E;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 9px 16px;
}

.card_image_wrapper {
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden; 
    margin-bottom: 25px;
}

.card_image {
    display: block;
    width: 100%;
}

.card_title {
    margin-top: 0;
    margin-bottom: 5;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: #333333;
}

.card_sub_title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #828282;
}

.card_price {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
}

.card_form {
    display: flex;
    align-items: center;
}

.card_packaging {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
}

.card_package {
    width: 68px;
    height: 29px;
    background-color: transparent; 
    border: none;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card_package_activ {
    background-color: #FFFFFF;
    border: solid 1px #3ECF5E;
    border-radius: 5px;
} */

.card_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_link {
    padding: 12px 32px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #3FCF5E;
    border: 1px solid rgba(5, 175, 52, 0.53);
    border-radius: 10px;
    text-decoration: none;
    margin-right: 68px;
}

.card_add_cart {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card_packaging input {
    display: none;
}

.card_packaging input:checked + .card_package {
    background-color: #FFFFFF;
    border: solid 1px #3ECF5E;
    border-radius: 5px;
}

.h3_top {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: start;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}

.rio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 46px;
    column-gap: 20px;
}

.rio_mix {
    display: flex;
    flex-wrap: wrap;
    row-gap: 46px;
    column-gap: 20px;
}

.buy_with {
    padding-top: 100px;
}


