.user {
    position: relative;
    display: inline-block;
}

.user_icon {
    background-image: url(../images/user.png);
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.user_icon:hover {
    background-image: url(../images/active_user.png);
}

.drop_content {
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    right: 0;
    top: 60px;
}

.drop_content_space_box {
    position: absolute;
    left: -254px;
    padding-top: 34px;
}

.drop_content a {
    display: block;
}

.drop_menu {
    padding: 25px 20px 35px 20px;
}

.drop_link1 {
    background-color: #3FCF5E;
    border-radius: 10px;
    padding: 15px 61px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 15px;
}

.drop_link2 {
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 15px 42px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.user:hover .drop_content {
    display: block;
}