.corn_info {
    padding-top: 50px;
    padding-bottom: 100px;
}

.corn_boards {
    display: flex;
    justify-content: center;
}

.h3 {
    padding: 0 0 28px 0;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.h3 h3 {
    margin: 0px;
}

.corn_type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    position: relative;
}

.feed_type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    position: relative;
}

.corn_types:last-child {
    margin-right: 0;
}

.corn_types {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 650px;
    margin-right: 20px;
}

.corn_text {
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #828282;
    margin-top: 10px;
    margin-bottom: 0px;
}

.corn_text2 {
    margin-top: 0;
}

.corn_content {
    padding: 20px 36px 47px 30px;
}

.corn_arrow:last-child::after {
    content: '';
    background-image: url(../images/bird.page/left_arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
}

.corn_arrow:last-child::before {
    content: '';
    background-image: url(../images/bird.page/right_arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
}

.feed_arrow:last-child::after {
    content: '';
    background-image: url(../images/bird.page/left_arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 43%;
    margin-top: -9px;
}

.feed_arrow:last-child::before {
    content: '';
    background-image: url(../images/bird.page/right_arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 43%;
    margin-top: -9px;
}

.corn_type:first-child {
    padding: 50px
}