.header {
    padding-top: 33px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.tel {
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
    padding-left: 25px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
}

.tel::before {
    content: "";
    background-image: url(../images/tel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.tel img {
    margin-right: 10px;
}

.header_info {
    display: flex;
    align-items: center;
}

.cart {
    margin: 15px 15px 15px 0px;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.user_info {
    display: flex;
}

.counter {
    position: absolute;
    top:-50%;
    right:-50%;
    display: flex;
    background-color: #06D10E;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border-radius: 50%;
    transform: translate(-50%, 50%)
}

.user {
    margin: 15px 15px 15px 0px;
    position: relative;
    display: inline-block;
}

.drop_content {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    left: -254px;
    top: 60px
}

.drop_content a {
    display: block;
}

.drop_menu {
    padding: 25px 20px 35px 20px;
}

.drop_link1 {
    background-color: #3FCF5E;
    border-radius: 10px;
    padding: 15px 61px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 15px;
}

.drop_link2 {
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 15px 42px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;
    text-decoration: none;
}

.user:hover .drop_content {
    display: block;
}

.catalog {
    position: relative;
    display: inline-block;
}

.drop_catalog {
    display: none;
    position: absolute;
    min-width: 284px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 1;
}

.catalog:hover .drop_catalog {
    display: block;
}

.catalog_link {
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
}

.catalog_link:last-child {
    margin-bottom: 0px;
}

.catalog_menu {
    padding: 21px 52px 34px 25px;
}

.nav {
   display: flex; 
}

.link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    margin-right: 40px;
    text-decoration: none;
}

.link_dropdown {
    position: relative;
    padding-right: 19px;
}

.catalog:hover .link_dropdown::after {
    content: '';
    background-image: url(../images/active_arrow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7.5px;
}

.link_dropdown::after {
    content: '';
    background-image: url(../images/arrow_down.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7.5px;

}

.link:last-child {
    margin-right: 0;
}

.header_second_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 345px;
    height: 54px;
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding-left: 20px;
    color: black;
    padding-right: 50px;
    background-image: url(/assets/images/Search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 23px center;
}

.search::placeholder {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
} 